.view-jobs-container {
    padding: 20px;
}

.job-cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.job-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
}

.job-card:hover {
    background-color: #dbe5ea;
}

.job-modal {
    background: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.job-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
